<div class="container">
	<div class="row space-top-1">
		<div class="col-12">
			<div class="row">
				<div class="col col-lg-6">
					<div class="account__user_form">
						<h2>Update Your Account</h2>

						<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
							<%= f.error_notification %>

							<%= f.input :email, required: true, autofocus: true%>

							<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
								<p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
							<% end %>


							<%= f.input :first_name,placeholder:"First Name" %>
							<%= f.input :last_name,placeholder:"Last Name" %>
							<%= f.input :background_color,placeholder:"'green', 'black', etc" %>
							<%= f.input :current_password,
													hint: "we need your current password to confirm your changes",
													required: true,
													input_html: { autocomplete: "current-password" } %>


							<%= f.button :submit, "Update", class:'btn btn-secondary' %>
						<% end %>

						<h3 class="space-top-2">Cancel my account</h3>

						<p>Unhappy?</p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>

						<%= link_to "Back", :back, class:'btn btn-success' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
